@()(content: Html)

<!DOCTYPE html>
<html>
<link href="/assets/maps/mainController.css" rel="stylesheet" />
<h1>Find your pin of happy<h1>
    <body>
    <div ng-controller="mapController as dm">
        <form name="searchForm" novalidate
              ng-submit="search()">
            <div class="input-group">
                <input name="place" type="text" class="form-control"
                       ng-model="searchPlace" required autofocus />
            <span class="input-group-btn">
                <button class="btn btn-primary"
                        ng-disabled="searchForm.$invalid">Search</button>
            </span>
            </div>
        </form>
        <div id="map"></div>
</html>
<div>
    <action-menus>
        options="dm.pages">
    </action-menus>
</div>
</div>
</div>
</body>